html, body {
	position: relative;
    width: 100%;
    background: no-repeat;
    height: 100%;
    background-size: cover;
}

body, input {
	color: #333;
	margin: 0;
	font-family: 'Bad Script', cursive;
}
.quote {
	color: white;
    font-size: larger;
    text-align: center;
    font-weight: 400;
    /* mix-blend-mode: difference; */
    text-shadow: #000 1px 0 5px;
}
.delete {
	height: 2em;
}
.clock {
	font-size: 200px;
    text-align: center;
	margin-bottom: 0px;
	mix-blend-mode: screen;
}
.greeting {
	font-size: 60px;
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	/* mix-blend-mode: screen; */
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}
h1 {
	color: white;
	mix-blend-mode: screen;
}
a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}
span, div {
	color: white;
}
.weather {
	display: flex;
    align-items: center;
    position: fixed;
	bottom: 0;
    left: 0%;
    font-size: larger;
	mix-blend-mode: screen;
}
.todo {
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0%;
	font-size: larger;
}
.todo span{
	mix-blend-mode: screen;
}

.mf, .mf:focus {
	background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: white;
    outline: none;
    padding: 6px 6px;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
	width: 25%;
	font-weight: 500;
	mix-blend-mode: screen;
}
.todoInput, .todoInput:focus {
	background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: white;
    outline: none;
    /* padding: 6px 6px; */
    box-sizing: border-box;
    color: white;
    font-size: 16px;
	/* width: 5%; */
	/* font-weight: 400; */
	mix-blend-mode: screen;
}
.mainFocus {
	font-size: xx-large;
    font-weight: 600;
}
.center {
	text-align: center;
}
.checked {
	text-decoration: line-through;
    opacity: 0.7;

}
.checkMark {
	height: 20px;
    width: 20px;
}
.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }

  