html,
body {
  position: relative;
  width: 100%;
  background: no-repeat;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

body,
input {
  color: #333;
  margin: 0;
  font-family: "Bad Script", cursive;
}
.quote {
  color: white;
  font-size: larger;
  text-align: center;
  font-weight: 400;
  /* mix-blend-mode: difference; */
  text-shadow: #000 1px 0 5px;
}
.delete {
  height: 1.5em;
  cursor: pointer;
}
.clockIcons {
  height: 2.5em;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}
.clock {
  font-size: 200px;
  text-align: center;
  margin-bottom: 0px;
  mix-blend-mode: screen;
  text-shadow: #000 1px 0 5px;
}
.greeting {
  font-size: 60px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: #000 1px 0 5px;
  /* mix-blend-mode: screen; */
}
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}
h1 {
  color: white;
  mix-blend-mode: screen;
  text-shadow: #000 1px 0 5px;
}
a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}
span,
div {
  color: white;
}
.weather {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0%;
  font-size: larger;
  mix-blend-mode: screen;
}
.weather span {
  cursor: pointer;
}
.todo {
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0%;
  font-size: larger;
  display: flex;
  flex-direction: column;
}
.todo div {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.todo span {
  padding-left: 0.25em;
  padding-right: 0.25em;
  mix-blend-mode: screen;
  word-wrap: break-word;
}

.mf,
.mf:focus {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-color: white;
  outline: none;
  padding: 6px 6px;
  box-sizing: border-box;
  color: white;
  font-size: 24px;
  width: 25%;
  font-weight: 500;
  mix-blend-mode: screen;
}
.timerInput,
.timerInput:focus {
  width: 12% !important;
  font-weight: 600 !important;
  font-size: 150px !important;
  text-align: center !important;
}
.timerIcons {
  height: 0.5em !important;
}
.timerBlock {
  font-size: 200px;
  text-align: center;
  margin-bottom: 0px;
}

.todoInput,
.todoInput:focus {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-color: white;
  outline: none;
  /* padding: 6px 6px; */
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  /* width: 5%; */
  /* font-weight: 400; */
  mix-blend-mode: screen;
}
.mainFocus {
  cursor: pointer;
  font-size: xx-large;
  font-weight: 600;
}
.center {
  text-align: center;
}
.checked {
  text-decoration: line-through;
  opacity: 0.7;
}
.checkMark {
  height: 20px;
  width: 20px;
}
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.textCenter {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  background: white;
}
