html, body {
	position: relative;
    width: 100%;
    background: no-repeat;
    height: 100%;
    background-size: cover;
}

body {
	color: #333;
	margin: 0;
	font-family: 'Bad Script', cursive;
}
.quote {
    color: white;
    font-size: larger;
	text-align: center;
}
.clock {
	font-size: 100px;
    text-align: center;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}
h1 {
	color: rgb(231, 231, 231);
}
a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}
span {
	color: white;
}
.weather {
	display: flex;
    align-items: center;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
